.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 750px;
  margin: 0px auto;
  padding: 20px;
  background-color: rgba(158, 240, 255, .3);
  border-radius: 15px;
  box-shadow: 0 0 25px 0 #000;

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    font-size: 18px;
  }

  &__input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid rgba(87, 199, 255, 1);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    letter-spacing: 1px;
    outline: blue;
    transition: border-color .5s linear;

    &:hover {
      border-color: #1e9df7;
    }

    &:focus {
      border-color: #0078f7;
    }

    &::placeholder {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    @include tablets {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__textarea {
    display: block;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px solid rgba(87, 199, 255, 1);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    resize: none;
    min-height: 100px;
    outline: blue;
    transition: border-color .5s linear;

    &:hover {
      border-color: #1e9df7;
    }

    &:focus {
      border-color: #0078f7;
    }

    &::placeholder {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__submit {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: rgba(41, 142, 230, .5);
    transition: all.5s linear;

    &:hover {
      background-color: #1e9df7;
      color: #f5f5f5;
    }

    &:focus {
      background-color: #0263c9;
      color: #fff;
    }

    &:active {
      background-color: #80bfff;
      border: 2px solid #0263c9;
      color: #000;
    }
  }
}