.header {
  padding: 10px 0;
  background-color: #e3e3e3;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: 'Merienda',
      'Times New Roman',
      serif;
    color: #000;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    outline: blue;
    transition: all 0.3s cubic-bezier(0.5, 0.71, 0.71, 0.57);

    @include tablets {
      font-size: 24px;
    }

    @include mobile {
      font-size: 20px;
    }

    &:hover {
      opacity: .5;
      color: #000;
    }

    &:focus {
      outline: 1px solid blue;
    }
  }

  &__theme-select {
    font-family: 'Merienda',
      'Times New Roman',
      serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(41, 142, 230, 0.5);
    border: 1px solid #47a5fc;
    padding: 10px 10px;
    font-weight: 900;
    transition: all .3s linear;

    @include tablets {
      font-size: 13px;
      padding: 7px 7px;
      max-width: 150px;
    }

    @include mobile {
      font-size: 12px;
      padding: 5px 5px;
      max-width: 130px;
    }

    @include effects-button;
  }

}