//Header

body {
  &.dark {

    .header {
      background-color: #000;

      &__logo {
        color: #fff;

        &:hover {
          opacity: .8;

        }

        &:focus {
          outline: 1px solid rgba(171, 0, 0, 1);
        }
      }

      &__theme-select {
        @include dark-button;
      }
    }
  }
}

body {
  &.dark {
    .main {
      background-color: rgba(33, 33, 33, .95);
    }

    .form,
    .tasks__item {
      background-color: rgba(33, 33, 33, .95);
      box-shadow: 0 0 10px 0 #787775;

      &__title {
        color: #fff;
      }

      &__input {
        @include dark-input;
      }

      &__textarea {
        @include dark-input;
      }

      &__submit {
        @include dark-button;
      }
    }
  }
}

body {
  &.dark {
    .tasks {

      &__title {
        color: #fff;
      }

      &__text {
        color: #fff;
      }

      &__button {
        @include dark-button;
      }
    }
  }
}

body {
  &.dark {

    .overlay-add-task,
    .overlay-delete-task {
      background-color: rgba(255, 255, 255, .1);
    }

    .overlay-add-task {

      &__wrapper {
        background-color: #000;
      }

      &__title,
      &__text {
        color: #fff;
      }

      &__button {
        @include dark-button;
      }
    }

    .overlay-delete-task {

      &__wrapper {
        background-color: #000;
      }

      &__title,
      &__text {
        color: #fff;
      }

      &__button {
        @include dark-button;
      }
    }
  }
}

body {
  &.dark {
    .footer {
      background-color: #000;
    }

    .copyright__text {
      color: #fff;

      @include mobile {
        font-size: 16px;
      }
    }

    .copyright__icon {
      fill: #fff;
      transition: all .3s linear;

      @include mobile {
        width: 25px;
        height: 25px;
      }

      &:hover {
        fill: rgb(224, 2, 2);
      }

      &:active {
        fill: rgb(117, 0, 0);
      }

      &--instagram {
        width: 25px;
        height: 25px;

        @include mobile {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}